body {
  background-image: url("../../asset/usgs-PtVq35qD-CU-unsplash.jpg");
  background-size: cover;
}
.mainLScontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.sortby {
  display: flex;
  color: white;
  justify-content: flex-end;
  margin-right: 106px;
}
.headerLinkContainer {
  color: white;
  list-style: none;
  display: flex;
  text-decoration: none;
}
.headerLinkContainer li {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
